<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/style.css">
    <title>#2 Updated Personal Portfolio</title>

</head>

<body>

    <header>
        <h1 class="display-5 text-start">
            Brandon Javillo 
        </h1>
        <p class="display-7"> 
            I believe the key to my success is in hard work, dedication to excellence, and happiness!
        </p>

        <ul>
            <li>
                <a href="#contact-info" class="navbar-links">Click for Contact_Info</a>
            </li>
        </ul>

    </header>

    <div href="/carousel">{{{ body }}}</div>

    <div class="display-content"></div>

    <section href="/carouselcontent"> {{{ body }}} </section>

    <footer class="text-center display-7 fw-bold">

        <div href="/contactinfo"> {{{ body }}} </div>


        <h5>Made with Blood Sweat and Tears!</h5>
        <p>
            God Bless America!
        </p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <script src="./assets/js/about-me.js"></script>
    <script src="./assets/js/projects.js"></script>

    <!-- Will add later with more dynamic features -->
    <!-- <script src="./assets/js/hobbies.js"></script> -->
    <!-- <script src="./assets/js/misc.js"></script> -->
</body>

</html>