<section class="aboutMe-content d-none" id="aboutMeContent">
        <div class="aboutMe-info-container d-none text-center p-2"></div>
        <h3>*About Me*</h3>
        <p class="aboutMe-info">
            My name is Brandon Javillo and I am a recently retired US Army Veteran, proud to have served and loved every minute of the traveling and relationships I've built along the way! Currently I am married to the most beautiful, loving, caring, and amazing woman and I have 4 children. I spent 20 years in the military as an aircraft electrician and loved my job! I left the Army earlier than I really wanted to, but moved on to a bigger and better future with computer coding. I have chosen to go into something that I enjoy and look forward to learning anything and everything I can!

            I attended some college at Austin Peay State University and Pierce Community College, emphasis in the Healthcare industry and Electrical Engineering & Development. I have a cumilative of 105 college credits, I will be continuing to acheive my BS in Computer Science in the future at UNLV. I am currently attending University California Davis bootcamp for Full Stack Web develpoment. I have just completed a project that gives a User the ability to take control of what goes into their bodies called NutriVal. If you would like to check it out please come and take a look at my GitHub page (github.com/Bjavillo1059).
            
            I am also a trained and experienced Aircraft Electrician and Electrician supervisor with 20 years’ experience working on the most advanced rotary-wing aircraft. Experience and knowledge operating, maintaining, and instructing technicians on the fully integrated digital cockpit management system, Common Aviation Architecture Cockpit; as well as older Analog models the military has to offer. I possess expertise in the essentials of safety and quality with strong customer service experience, collaboration, and a background of achievement in support of all levels of management.
            
            I am also an experienced and dedicated resource and asset allocations professional, whose primary goal is for the betterment of the organization and protecting its integrity. Balancing a great adaptable work ethic in team building, financial resolution, and budget analysis in spending as well as cost effectiveness. Skilled in analyzing technical specifications, engineer schematics, problem diagnosis, troubleshooting and resolution. Proven ability to achieve results through task orientation, operational responsibility and data collection. Also, strong skills in agency and department supervision, written, verbal communications and delivering technical training under the guidance of organization policies.
        </p>
    </section>

    <section class="projects-content" id="projectsContent">
        <div class="project-info-container d-none text-center p-2">
            <h3>*Projects*</h3>
            <p class="projects-img"><a href="https://github.com/Bjavillo1059">
                    <img src="./public/img/garden photo.JPG" alt="garden photo" id="garden-image"></a>
                *Click photo to view GitHub*
            </p>
            <p>
                <a href="https://github.com/Bjavillo1059/Nutritional-Value" class="text-primary">*NutriVal* </a> Gives a
                user the ability to take control of what they are putting into their bodies! <a
                    href="https://bjavillo1059.github.io/Nutritional-Value/">
                    <img src="public/img/NutriVal snip.PNG" alt="NutriVal" class="popout" id="nutri-val">
                </a>
            </p>
            <p>
                <a href="https://github.com/Bjavillo1059/Daily-Planner-wk-6" class="text-primary">*Daily Planner* </a>
                Allows a User to track what they are doing throughout a normal working day <a
                    href="https://bjavillo1059.github.io/Daily-Planner-wk-6/">
                    <img src="public/img/daily planner.PNG" alt="NutriVal" class="popout" id="daily-plan">
                </a>
            </p>
            <p>
                <a href="https://github.com/Bjavillo1059/My-Code-Quiz" class="text-primary">*Code Quiz* </a>
                Created a little Javascript quiz for familiarity and understanding <a
                    href="https://bjavillo1059.github.io/My-Code-Quiz/">
                    <img src="public/img/Code Quiz.PNG" alt="NutriVal" class="popout" id="code-quiz">
                </a>
            </p>
            <p>
                <a href="https://github.com/Bjavillo1059/password-generator" class="text-primary">*Password Generator*
                </a> This password generator <a href="https://bjavillo1059.github.io/password-generator/">
                    <img src="public/img/pass gen photo.PNG" alt="NutriVal" class="popout" id="pass-gen">
                </a>
            </p>
        </div>
    </section>